<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Looping</h1>

            <ul>
                <li v-for="character in characters">{{ character }}</li>
            </ul>

             -------------------------------------------

            <ul>
                <li v-for="(data, index) in datas">{{ index }} . {{ data.name }} - {{ data.age }}</li>
            </ul>
             -------------------------------------------

            <template v-for="(data, index) in datas">
                <h3>{{ index }} . {{ data.name }}</h3>
                <p>{{ data.age }}</p>
            </template>

            -------------------------------------------

            <template v-for="(data, index) in datas">
                <div v-for="(val, key) in data">
                    <p>{{ key }} , {{ val }}</p>
                </div>
            </template>

        </div>
    </body>

    <script src="app.js"></script>
</html>